@media (max-width: 430px) {

    /* Cabeçalho */
    header{
        background-color: #F05A25;
        padding: 0.8vh;
    }

    .menu-toggle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 1.5rem; /* Tamanho ajustado para melhor usabilidade */
        height: 1.5rem;
        cursor: pointer;
        color: #F05A25; /* Combina com o tema */
        margin-left: 1vw;
        z-index: 1000; /* Garante que o botão fique acima do menu */
    }
    
    
    .nav-links {
        display: flex; 
        flex-direction: column;
        align-items: left;
        background-color: #f9f9f9;
        position: fixed;
        top: 2.2rem;
        left: 0;
        width: 40%;
        height: auto;
        padding: 1rem 1rem;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
        z-index: 999;
        transform: translateX(-100%); 
        transition: transform 0.3s ease; 
    }
    
    .nav-links.show {
        transform: translateX(0); 
    }

    .nav-links li {
        list-style: none; 
        margin: 0.5rem 0; 
        padding: 0.5rem; 
        border-bottom: 1px solid #f0f0f0; 
        transition: background-color 0.3s ease, transform 0.2s ease; 
    }
    
    .nav-links li:hover {
        background-color: #F05A25; 
        transform: scale(1.05); 
        border-radius: 5px; 
    }
    
    .nav-links a {
        color: #F05A25; 
        font-size: 1.1rem; 
        font-weight: 600; 
        text-decoration: none; 
        transition: color 0.3s ease; 
    }
    
    .nav-links a:hover {
        color: #ffffff; 
    }

    
    /* Hero */
    .hero {
        flex-direction: column;
        padding: 1rem;
        height: auto;
    }

    .hero-content {
        max-width: 100%;
        margin-bottom: 2rem;
    }

    .hero-image img {
        max-width: 100%;
    }

    .logo-container {
        display: none;
    }

    .wpp-icon{
        display: none;
    }

    .hero{
        height: 100vh;
        background: linear-gradient(152deg, #f9f9f9 50%, #f05a25 50%);
    }
    .hero-content{
        margin-top: 10vh;
    }
    .hero-content h1 {
        font-size: 2.2rem;
    }

    .hero-content p {
        font-size: 1.3rem;
    }

    .btn {
        margin-left: 0px;
        font-size: 1rem;
        padding: 0.7rem 1.2rem;
    }

    .carousel{
        width: 85%;
    }

    .carousel-image {
        width: 100%;
        height: 28vh;
    }

    /*Sobre*/
    .about-us{
        height: auto;
    }

    .about-container {
        flex-direction: column; 
        gap: 4rem;
        width: 100%; 
        padding: 0 1rem; 
    }
    
    .about-carousel {
        margin: 0 auto;
        width: 100%; 
    }
    
    .about-carousel-image {
        width: 100%; 
        height: 28vh; 
    }
    
    .about-content {
        text-align: center; 
    }
    
    .about-content h2 {
        font-size: 1.8rem; 
    }
    
    .about-content h2::after {
        content: '';
        width: 60px;
        height: 4px;
        background-color: #f05a25;
        position: auto;
        bottom: -0.5rem;
        left: 50%;
        transform: translateX(-50%);
    }
    
    .about-content p {
        font-size: 1rem; 
    }
    
    .btn-about {
        font-size: 1.3rem;
        padding: 0.6rem 1.3rem; 
    }
    
    .about-carousel-control {
        width: 30px; 
        height: 30px;
        font-size: 1.3rem;
    }

    /*Estatisticas*/
    .stats {
        gap: 2rem;
        align-items: center;
        flex-direction: column;
    }

    .stat {
        width: calc(25% - 2rem);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        min-width: 250px;
        transition: transform 0.3s ease;
        box-sizing: border-box;
        height: fit-content;
    }

    .stat h3 {
        font-size: 1.8rem;
    }

    .stat p {
        font-size: 1rem;
    }

    /* Valores */ 
    .values{
        padding-left: 0;
        padding-right: 0;
    }
    .carousel-valores-container{
        width: 100%;
    }

    .value-cards {
        display: none;
    }
    
    .carousel-valores-container {
        display: flex;
        column-gap: 10px; 
        flex-direction: column;
        align-items: center; 
        position: relative;
        width: 100%;
        margin-top: 2rem;
    }
    
    .carousel-valores-wrapper {
        overflow: hidden;
        width: 100%;
    }
    
    .carousel-valores {
        width: 100%;
    }
    
    .carousel-valores-group {
        display: none; 
    }
    
    .carousel-valores-card {
        background: #fff;
        color: #555;
        padding: 2rem;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        min-width: 250px;
        transition: transform 0.3s ease;
        box-sizing: border-box;
    }

    .card {
        position: relative;
        margin: 0 auto 30px;    
    }

    .carousel-valores-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #F05A25;
        color: #fff;
        border: none;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 50%;
        z-index: 10;
        font-weight: bolder;
    }
    
    .carousel-valores-btn.left-btn {
        left: 15px;
    }
    
    .carousel-valores-btn.right-btn {
        right: 15px;
    }

    /*Serviços*/
    .servicos-desktop{
        display: none;
    }

    .servicos-mobile{
        margin-top: 20px;
        display: block;
        text-align: justify;
    }

    .services-content {
        display: block;
        text-align: center;
    }

    .services-text {
        text-align: center;
        margin-bottom: 2rem;
    }

    .services-image img {
        max-width: 100%;
    }

    /*Contato*/
    .contact{
        height: auto;
    }
    .contact-content {
        flex-direction: column; 
        align-items: center; 
        gap: 2rem;
    }

    .contact-info ul li {
        margin-bottom: 1rem;
    }

    .social-links {
        justify-content: center; 
        gap: 1rem;
    }

    .social-icon img {
        width: 15px; 
        height: 15px;
    }

    .contact-info h2 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        color: #333;
    }

    .contact-info p {
        font-size: 1rem;
        color: #555;
        margin-bottom: 1.5rem;
    }

    .contact-info ul {
        list-style: none;
        padding: 0;
    }

    .contact-info li {
        font-size: 0.95rem;
        color: #555;
        margin-bottom: 0.75rem;
    }

    .contact-info strong {
        color: #f05a25;
    }

    .contact-form{
        display: none;
    }



}

