/* Mobile Styles */
@media (max-width: 768px) {

.header-white {
    position: relative;
    background: #214D92;
    color: white;
}

.header-blue {
    position: relative;
    background: #214D92;
    color: white;
}

nav {
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    padding: 0.3rem 1rem;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 2rem; 
    height: 2rem;
    cursor: pointer;
    color: #214D92; /* Combina com o tema */
    
    z-index: 1000; /* Garante que o botão fique acima do menu */
}

.menu-toggle img{
    margin: 0;
    padding: 0;
}


.nav-links {
    display: flex; 
    flex-direction: column;
    align-items: right;
    background-color: #f9f9f9;
    position: fixed;
    top: 2.7rem;
    right: 0;
    width: 40%;
    height: auto;
    padding: 1rem 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    z-index: 999;
    transform: translateX(100%); 
    transition: transform 0.3s ease; 
}

.nav-links.show {
    transform: translateX(0); 
}

.nav-links li {
    list-style: none; 
    margin: 0.5rem 0; 
    padding: 0.5rem; 
    border-bottom: 1px solid #f0f0f0; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
}

.nav-links li:hover {
    background-color: #214D92; 
    transform: scale(1.05); 
    border-radius: 5px; 
}

.nav-links a {
    color: #214D92; 
    font-size: 1.1rem; 
    font-weight: 600; 
    text-decoration: none; 
    transition: color 0.3s ease; 
}

.nav-links a:hover {
    color: #214D92; 
}



/* Home */
#home {
    height: auto;
}

.banner {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.banner img {
    width: 100%;
    height: auto;
    display: block;
}

/* Sobre Nós */
.about-us {
    padding: 3rem 2rem;
    height: auto;
}

.about-container {
    flex-direction: column-reverse;
    gap: 2rem;
    padding: 0;
}

.about-carousel {
    width: 100%;
    max-width: none;
}

.about-carousel-image {
    width: 100%;
    height: 50vw;
}

.about-content {
    padding: 0 1rem;
}

.about-content h2 {
    font-size: 2rem;
}

.btn-about{
    display: none;
}

/* Serviços */
.services {
    padding: 3rem 2rem;
    height: auto;
}

.services-container {
    width: 95%;
    height: auto;
}

.service-card {
    flex-direction: column;
    height: auto;
    margin-bottom: 2rem;
}

.card-image {
    flex: none;
    height: 250px;
}

.card-content {
    padding: 2rem;
}

.card-content h3 {
    font-size: 1.5rem;
}


/* Carrossel de Clientes */
.clients {
    padding: 3rem 2rem;
    height: auto; 
}
.desktop-only { 
    display: none; 
}

.mobile-only { 
    display: block; 
}

/* Carrousel  Cliente*/
.clientMob-carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%; 
    margin: 0 auto; 
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    height: 25vh;
    background-color: white;
    
}

.clientMob-carousel-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sanMariana{
    width: 121px;
    height: 24px;
}

.clientMob-carousel-image {
    max-width: 100%;
    height: 20vw;
    display: none;
    
}

.clientMob-carousel-image.active {
    display: block;
}

.clientMob-carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f9f9f9;
    border: none;
    color: #333;
    font-size: 1.5rem;
    font-weight: 600;
    width: 30px; 
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.clientMob-carousel-control:hover {
    opacity: 1;
}

.clientMob-carousel-control.prev {
    left: 10px; 
}

.clientMob-carousel-control.next {
    right: 10px; 
}




/*Contato */
.contact {
    height: auto;
}

.contact-content {
    margin-top: 5vw;
    margin-bottom: 5vw;
    width: 90%;
}

.contact-info ul strong{
    display: block;
}

.social-links {
    margin-top: 2rem;
}




/*Rodapé*/
footer {
    padding: 0.8rem 2rem 0.5rem; 
    text-align: center;
    font-size: 0.9rem;
    height: auto;
    
}

.footer-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem; 
    row-gap: 0.8rem;
    justify-content: center;
    
}



/* Reservatórios */
header{
    background-color: #214D92;
}

.product-container {
    display: flex;
    flex-direction: column-reverse;
    padding: 1.5rem;
    border-radius: 15px;
    
}

.product-details {
    margin-top: 5vw;
}

.product-details h1 {
    font-size: 2.2rem;
}

.product-gallery{
    width: 100%;
    
}

.main-image{
    width: 100%;
    border-radius: 10px;
}

.main-image img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.thumbnails {
    grid-template-columns: repeat(2, 1fr);
}

.specs-grid {
    grid-template-columns: 1fr;
}


.footer-bottom {
    margin-top: 0.5rem; 
    font-size: 0.8rem; 
}


/* Vagas */
#hmobile{
    position: absolute;
    background-color: transparent;
}   

.hero-trabalhe{
    height: 50vh;
    padding-top: 0px;
}

.valores-trabalhe{
    height: auto;
}

.valores-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.valor-card{
    width: 90%;
}
}