/* Cores
Laranja: #F05A25
Branco: #f9f9f9
Preto: #333
/* Configurações Padrão */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif; 
    background-color: #f9f9f9;          
}

/* Cabeçalho */
header {
    background-color: rgba(240, 90, 37, 0.9); 
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: #f9f9f9;
    font-size: 1rem;
    font-weight: 500;
    transition: color 0.3s, border-bottom 0.3s;
    padding-bottom: 5px;
}

.nav-links a:hover {
    color: #333;
}

.menu-toggle{
    display: none;
}
.wpp-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.5rem;
}

.wpp-icon img {
    width: 1.5vw; /* Ajuste do tamanho do ícone */
    height: 1.5vw;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.wpp-icon img:hover {
    transform: scale(1.2); 
    opacity: 0.8; 
}

/* Estilo do botão flutuante */
.whatsapp-float {
    display: none; 
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #25d366;
    color: white;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.whatsapp-float img {
    margin-left: 0.6vh;
    width: 70%;
    height: 70%;
}

/* Animação ao passar o mouse */
.whatsapp-float:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.4);
}

/* Logo */
.logo-container {
    position: fixed;
    top: 0px;        
    left: 50%;
    transform: translateX(-50%);
    z-index: 1001;     
}

.logo {
    height: 7vw;      
    transition: height 0.3s ease; 
    border-radius: 50%; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}


/* Seção Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 2rem;
    background: linear-gradient(135deg, #f9f9f9 50%, #f05a25 50%);
    position: relative;
    overflow: hidden;
}

.hero-content {
    max-width: 45%;
    color: #333;
    padding: 2rem;
    border-radius: 10px;
    position: relative;
    z-index: 2;
    animation: slideInLeft 1s ease-out;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.btn {
    display: inline-flex;
    align-items: center;
    background-color: #f05a25;
    color: #f9f9f9;
    padding: 1rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-left: 0.5rem;
    transition: transform 0.3s ease;
}

.btn:hover {
    background-color: #d94a1f;
}

/* Carrousel  Home */
.carousel {
    position: relative;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    
  }

  .carousel-container {
    position: relative;
  }

  .carousel-image {
    width: 42vw;
    height: 29vw;
    display: none;
    border-radius: 10px;
  }

  .carousel-image.active {
    display: block;
  }

  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f9f9f9;
    border: none;
    color: #333;
    font-size: 1.5rem;
    font-weight: 600;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    transition: opacity 0.3s;
  }

  .carousel-control:hover {
    opacity: 1;
  }

  .carousel-control.prev {
    left: 10px;
  }

  .carousel-control.next {
    right: 10px;
  }

/* Seções Gerais */
section {
    padding: 4rem 2rem;
    text-align: center;
}

/* Seção Sobre Nós */
.about-text{
    color: #F05A25;
}

.about-us {
    padding: 5rem 5rem 2rem ;
    background-color: #f9f9f9;
}

.about-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    gap: 2rem;
}

.about-image {
    flex: 1;
}

.about-image img {
    width: 500px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.about-image img:hover {
    transform: scale(1.05);
}

.about-content {
    flex: 1;
    max-width: 500px;
}

.about-content h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #333;
    position: relative;
}

.about-content h2::after {
    content: '';
    width: 60px;
    height: 4px;
    background-color: #f05a25;
    position: absolute;
    bottom: -0.5rem;
    left: 0;
}

.about-content p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

/* Carrousel  About*/
.about-carousel {
    position: relative;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.about-carousel-container {
    position: relative;
}

.about-carousel-image {
    width: 35vw;
    height: 25vw;
    display: none;
    border-radius: 10px;
    object-fit: cover;
}

.about-carousel-image.active {
    display: block;
}

.about-carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #f9f9f9;
    border: none;
    color: #333;
    font-size: 1.5rem;
    font-weight: 600;
    width: 30px; 
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.about-carousel-control:hover {
    opacity: 1;
}

.about-carousel-control.prev {
    left: 10px; 
}

.about-carousel-control.next {
    right: 10px; 
}

.btn-about {
    display: inline-block;
    background-color: #f05a25;
    color: #fff;
    padding: 0.8rem 2rem;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}

.btn-about:hover {
    background-color: #d94a1f;
}


/* Seção de Estatísticas */
.stats {
    display: flex;
    justify-content: center;
    gap: 3rem;
    background-color: #f9f9f9;
    padding: 3rem 2rem;
    text-align: center;
}

.stat {
    background-color: #f05a25;
    color: #fff;
    padding: 2rem;
    border-radius: 10px;
    width: 13vw;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 1s ease-out;
    text-align: center;
}

.stat h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.stat p {
    font-size: 1.1rem;
}

/* Animações */
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Seção Valores */
.values {
    padding: 4rem 2rem 0rem 2rem;
    text-align: center;
    background-color: #f9f9f9;
}

/* Cards no Desktop */
.value-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}

/* Estilo dos Cards */
.card {
    background: #fff;
    color: #555;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(25% - 2rem);
    min-width: 250px;
    transition: transform 0.3s ease;
    box-sizing: border-box;
}

.card:hover {
    transform: translateY(-10px);
}

.card h3 {
    margin-bottom: 1rem;
    color: #F05A25;
}

.card p {
    color: #555;
}

.carousel-valores-container{
    display: none;
}
/* Sobre Nós e Contato */
.about, .contact {
    background-color: #f4f4f4;
}

/* Seção de Serviços */
.services {
    padding: 4rem 2rem;
    background-color: #f9f9f9;
    text-align: center;
}

.services-header {
    margin-top: 3vw;
    margin-bottom: 3vw;
}

.services-header h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 0.5rem;
    position: relative;
    display: inline-block;
}

.services-header h2::after {
    content: '';
    width: 60px;
    height: 4px;
    background-color: #f05a25;
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.services-header p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.services-content {
    display: flex;
    flex-direction: row;
    gap: 7rem;
    max-width: 1200px;
    margin: 0 auto;
    align-items: flex-start;
    justify-content: space-between;
}

.services-text {
    flex: 1;
    text-align: left;
}

.services-text h3 {
    font-size: 1.5rem;
    color: #f05a25;
    margin-bottom: 1rem;
}

.services-text p {
    text-align: justify;
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
    margin-bottom: 0.75rem;
    
}

.services-text p strong {
    color: #333;
    font-weight: bold;
}

.services-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-image img {
    width: 100%;
    max-width: 500px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.servicos-mobile{
    display: none;
}


/* Seção de Contato */
.contact {
    height: 100vh; /* Ocupa 100% da altura da tela */
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.contact-content {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    width: 100%;
    background-color: #fff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    gap: 2rem;
}

/* Informações de Contato */
.contact-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-info h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: #333;
}

.contact-info p {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 1.5rem;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info li {
    font-size: 1rem;
    color: #555;
    margin-bottom: 0.75rem;
}

.contact-info strong {
    color: #f05a25;
}

/* Formulário de Contato */
.contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1.5rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.contact-form input:focus,
.contact-form textarea:focus {
    outline: none;
    border-color: #f05a25;
}

.contact-form button {
    background-color: #f05a25;
    color: #fff;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #d94b20;
}


/* Links de redes sociais */
.social-links {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.social-icon img {
    width: 20px; 
    height: 20px;
    cursor: pointer;
}

.social-icon img:hover {
    transform: scale(1.1); /* Amplia levemente no hover */
}

/* Estilo do Custom Alert */
.custom-alert {
    position: fixed;
    top: 0vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    color: #333;
    border: 2px solid #333;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: none;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    z-index: 9999;
}

.custom-alert .alert-title {
    margin-bottom: 10px;
}

.custom-alert button {
    background-color: #ff6f00;
    margin-top: 1vw;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-alert button:hover {
    background-color: #e65b00;
}

/* Rodapé */
footer {
    background-color: #222; /* Preto mais ameno */
    color: #fff;
    padding: 1rem 2rem; /* Reduzindo o espaçamento vertical */
    text-align: center;
    font-size: 0.9rem;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* Reduzindo o espaçamento entre os elementos */
    align-items: center;
    justify-content: center;
}

.footer-links {
    display: flex;
    gap: 1rem; /* Espaçamento reduzido entre os links */
    justify-content: center;
}

.footer-links a {
    color: #ccc; /* Cinza claro para suavizar o contraste */
    text-decoration: none;
    transition: color 0.3s;
    font-size: 0.9rem;
}

.footer-links a:hover {
    color: #f05a25; /* Laranja da marca para destaque */
}

.footer-bottom {
    margin-top: 0.5rem; /* Menor espaçamento acima do texto de direitos autorais */
    font-size: 0.8rem; /* Texto ligeiramente menor */
    color: #aaa;
}


/* Barra de Rolagem  */

/* Largura da barra de rolagem */
::-webkit-scrollbar {
    width: 10px;
}

/* Fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Cinza claro para contraste suave */
}

/* Polegar da barra de rolagem */
::-webkit-scrollbar-thumb {
    background-color: #f05a25; /* Laranja da marca */
    border-radius: 5px; /* Bordas arredondadas para um visual moderno */
    border: 2px solid #f1f1f1; /* Pequeno contorno para destacar o polegar */
}

/* Efeito hover no polegar */
::-webkit-scrollbar-thumb:hover {
    background-color: #d94e20; /* Tom mais escuro ao passar o mouse */
}




